:root {
    box-sizing: border-box;
    --color-mainColor: #2d327c;
    --color-mainColorBright: hsl(236, 87%, 73%);
    --color-mainColorMatt: hsl(236, 23%, 50%);
    --color-complementaryColor: #d2b051;
    --color-complementaryColorEdel: hsl(44, 74%, 46%);
    --color-backgroundColor: #fffcf5;
    --color-fontColor: #05080a;
}