h3 {
    color: #a52a2a;
}

a:hover {
    color: #008000;
}

a:visited {
    color: pink;
}

a:active {
    color: rgb(0, 0, 255);
}

.important {
    background-color: aquamarine;
}

.location {
    color: hsl(0, 100%, 50%);
}

.names {
    color: violet;
}